/* 
Universal and Element Selectors

specificity calculator: https://specificity.keegan.st/

Basic CSS rules
selector{
    property : description;
}   
*/

/* Universal selector: select everything! */

*{
    color : black;
}

/* Element selector: select everything of the given type */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}


/* Selector list: combine multiple selectors in a list */

h1,h2 {
    color: #1d3557;
}

/*
    The ID Selector
        #element_id{ … }
*/

#signup{
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457b9d;
}

/*
    The Class Selector
    Select elements with class of “class_name”
    A class could span across different elements
    
    .class_name {...}
*/

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

.post a {
    color: #457b9d;
    font-weight: 700;
    text-decoration: none;
}

footer a {
    color: #e63946;
}


/*
Pseudo Classes: Keyword added to a selector that specifies a special state of the selected element(s)

https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes
*/
.post a:hover {
    text-decoration: underline;
}
.post button:active {
    background-color: #02c39a;
}

.post:nth-of-type(2n){
    background-color: #dfe8dc;
}

/*
Pseudo Elements
Keyword added to a selector that lets the user style a particular part of the selected element(s)
*/

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: purple;
}

p::selection {
    background-color: #fcbf49;
}

.post button:hover {
    background-color: #e63946;
    color: #f1faee;
}

button:hover {
    background-color: olive;
}

button {
    background-color: magenta !important;
}


/* h2 + button {
    font-size: 20px;
}

footer > a {
    color: #457b9d;
}

input[type="password"] {
    color: greenyellow;
}

a[href*="google"]{
    color: #1d3557;
}*/