h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: #f78120 underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    /*  
    The font-family CSS property specifies a prioritized list of one or more font family names and/or generic family names for the selected element.
    */
    font-family: Segoe UI, Futura, Arial, sans-serif;
    font-family: monospace;
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
}


